<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.core.mapper.UserAuthMapper">

    <resultMap id="BaseResultMap" type="com.company.core.entity.SysFunctionDAO">
        <id column="ID" property="id" jdbcType="DECIMAL"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="PARENT_ID" property="parentId" jdbcType="DECIMAL"/>
        <result column="GRADE" property="grade" jdbcType="CHAR"/>
        <result column="URI" property="uri" jdbcType="VARCHAR"/>
        <result column="CODE" property="code" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="CHAR"/>
        <result column="ORDER_BY" property="orderBy" jdbcType="DECIMAL"/>
        <result column="LOGO" property="logo" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="RoleResultMap" type="com.company.core.entity.SysRoleDAO">
        <id column="ID" property="id" jdbcType="DECIMAL"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="CHAR"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getAuthByUserId" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
        <![CDATA[
        SELECT
        F.ID, F.NAME, F.PARENT_ID, F.GRADE, F.URI, F.CODE, F.STATUS, F.ORDER_BY, F.LOGO
        FROM
        SYS_USR U,rl_sys_usr_role UR,SYS_ROLE R,rl_sys_role_func RF,SYS_FUNCTION F
        WHERE
        U.ID = #{userId}
        AND U.ID = UR.SYS_USR_ID
        AND R.ID = UR.SYS_ROLE_ID
        AND R.ID = RF.SYS_ROLE_ID
        AND F.ID = RF.SYS_FUNC_ID]]>
    </select>

    <select id="getRoleByUserId" parameterType="java.math.BigDecimal" resultMap="RoleResultMap">
        <![CDATA[
        SELECT
        R.ID, R.NAME, R.STATUS, R.REMARK
        FROM
        SYS_USR U,rl_sys_usr_role UR,SYS_ROLE R
        WHERE
        U.ID = #{userId}
        AND U.ID = UR.SYS_USR_ID
        AND R.ID = UR.SYS_ROLE_ID]]>
    </select>
</mapper>